/*style.css*/
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #212121;
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2em;
    color: #212121;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    color: #4CAF50;

    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    color: #212121;

    font-weight: bold;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.875rem;
    color: #616161;
}

.hover-animation {
    @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110;
}